:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --buttonHoverBg: #03406b;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --red: rgb(226, 34, 94);
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.1);
  --redBackground: rgba(226, 34, 94, 0.1);
  --border-black: rgb(58, 70, 78);
}

* {
  outline: none !important;
  background-color: #192329;
}

a {
  color: inherit;
}

a:hover {
  color: rgb(187, 187, 187);
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}
nav a:hover > i {
  color: #1fa2f1;
  background-color: var(--buttonHoverBg);
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyButtonText);
}

button i,
button span {
  pointer-events: none;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--border-black);
  border-right: 1px solid var(--border-black);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-black);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--border-black);
  flex-shrink: 0;
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
  color: white;
}
.modal {
  background-color: transparent;
}
.modal-dialog {
  background-color: transparent;
}
.modal .post {
  padding: 0px;
  padding-bottom: var(--spacing);
}
.modal-content {
  color: white;
  background-color: transparent;
}
.modal-header {
  border-top-left-radius: calc(1.3rem - 1px);
  border-top-right-radius: calc(1.3rem - 1px);
  border-bottom: 1px solid var(--border-black);
}
.modal-footer {
  border-bottom-left-radius: calc(1.3rem - 1px);
  border-bottom-right-radius: calc(1.3rem - 1px);
  border-top: 1px solid var(--border-black);
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  color: white;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: var(--blueLight);
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  color: white;
  cursor: pointer;
  border-bottom: 1px solid var(--border-black);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: white;
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}
.postButtonContainer button {
  border-radius: 50%;
}
.postButtonContainer button:hover {
  border-radius: 50%;
}
.postButtonContainer.blue button:hover {
  background-color: #084d7e;
  color: var(--blue);
}
.postButtonContainer.blue button:hover > i.fa-comment {
  background-color: #084d7e;
  color: var(--blue);
  border-radius: 50%;
}

.postButtonContainer.red button.active {
  color: var(--red);
}
.postButtonContainer.red button:hover {
  color: var(--red);
  background-color: var(--redBackground);
}

.postButtonContainer.green button.active {
  color: var(--green);
}
.postButtonContainer.green button:hover {
  color: var(--green);
  background-color: var(--greenBackground);
}

.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
  margin-bottom: 5px;
}
.replyFlag {
  margin-bottom: 5px;
}
.replyFlag a {
  color: var(--blue);
}
.post.largeFont .postBody {
  font-size: 24px;
}
.postBody {
  display: flex;
  flex-direction: column;
}
.postContentContainer .header {
  display: flex;
}
.header .date {
  flex: 1;
}
.mic {
  padding-left: 20px;
}
.audioContainer {
  margin-top: 10px;
}
.trashCanButton:hover > .fa-trash {
  color: var(--red);
  background-color: var(--redBackground);
}
.fa-trash {
  color: white;
}
.fa-envelope {
  color: white;
}
.profileHeaderContainer .coverPhotoContainer {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}
.profileHeaderContainer .userImageContainer {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  background-color: transparent;
}
.profileHeaderContainer .userImageContainer img {
  border: 4px solid white;
}
.profileHeaderContainer .profileButtonsContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}
.profileButton,
.followButton {
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
}
.profileButton:hover,
.followButton:hover {
  background-color: var(--blueBackground);
}
.followButton.following {
  background-color: var(--blue);
  color: white;
}
.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
  color: white;
}
.followersContainer .value {
  font-weight: bold;
  margin-right: 5px;
}

.followersContainer span:not(.value) {
  color: var(--greyText);
}

.followersContainer a {
  margin-right: 15px;
  color: white;
}
.followersContainer a:hover {
  border-bottom: 1px solid black;
}
.tabsContainer {
  display: flex;
  border-bottom: 1px solid rgb(105 152 183);
  flex-shrink: 0;
}
.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
  border-top-left-radius: calc(1.3rem - 1px);
  border-top-right-radius: calc(1.3rem - 1px);
}
.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}
.tab:hover {
  color: var(--blue);
  background-color: #002946;
}
.fa-speakap {
  font-size: 17px;
  color: white;
  padding-left: 10px;
}
